{% assign positionClass = '' %}
{% if settings.display-welcome-message == false and settings.display-featured-collections == false %}
  {% assign positionClass = 'first' %}
{% endif %}

{% assign featuredProductLimit = settings.featured-products-per-row | times: settings.featured-rows-per-page %}

<!-- Featured products
============================================= -->
<section class="featured-products clearfix {{ positionClass }} {% if featuredProductLimit > 4 %}multi-row{% endif %} content-area">
  <h2 class="section-title section-border">{{ 'home_page.featured_products.title' | t }}</h2>

  {% if shop.products_count > 0 and collections.[settings.featured-products-collection].title.size == 0 %}

    <p class="load-up">{{ 'onboarding.featured_products_text_html' | t: theme_settings_link: theme_settings_link }}</p>

  {% elsif shop.products_count > 0 and collections.[settings.featured-products-collection].products.size == 0 %}
    <!-- ONLY renders when the store has products but the specified collection does NOT have any products -->
    {% capture collection_screen_link %}
      <a href="{{ shop.url }}/admin/collections">{{ 'onboarding.collection_screen_link' }}</a>
    {% endcapture %}
    <p class="load-up">{{ 'onboarding.featured_products_empty_text_html' | t: collection_screen_link: collection_screen_link }}</p>

  {% elsif shop.products_count == 0 %}

    {% capture new_product_link %}
      <a href="{{ shop.url }}/admin/products/new">{{ 'onboarding.new_product_link' }}</a>
    {% endcapture %}
    <div class="load-up">{{ 'onboarding.no_products_text_html' | t: new_product_link: new_product_link }}</div>

  {% else %}

    <ul class="product-list row-of-{{settings.featured-products-per-row}} ">
      {% for product in collections.[settings.featured-products-collection].products limit: featuredProductLimit %}
        {% include 'product-item' %}
      {% endfor %}
    </ul>

  {% endif %}

</section>
