{% layout 'about_the_brand' %}
<main class="content content-area about-the-brand">
  <div class="text-content-wrap clearfix">
    <div class="rte clearfix text-content" id="about-the-brand-layout">
      <div class="about-the-brand-image-block">
           {% if page.content contains "<img" %}
                {% assign content-src = (page.content contains "<img") | split: 'src="' %}
                {% assign content-img-size = content-src.size | minus:1 %}
                {% for i in (1..content-img-size) %}
                {% assign src = content-src[i] | split: '"' | first | replace: '//cdn', 'http://cdn';;; | replace: 'http:http://';;;, 'http://';;; | remove: 'https:' %}
                {% if forloop.index == 1 %}
      <div class="about-the-brand-header-image image-wrap" id="{{ i }}">
        <img src="{{src}}" />
      </div>
      <div class="about-the-brand-header-image-text welcome-area-background">
        <div class="welcome-area content-area about-the-brand-header-text">
          <h2>
            The perfect jean
          </h2>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>

      <div class="about-the-brand-circular-images first-row">
        {% if page.content contains "<img" %}
             {% assign content-src = (page.content contains "<img") | split: 'src="' %}
             {% assign content-alt = (page.content contains "<alt") | split: 'alt="' %}
             {% assign content-img-size = content-src.size | minus:1 %}
             {% for i in (1..content-img-size) %}
             {% assign src = content-src[i] | split: '"' | first | replace: '//cdn', 'http://cdn';;; | replace: 'http:http://';;;, 'http://';;; | remove: 'https:' %}
             {% assign alt = content-alt[i] | split: '"' | first | replace: '//cdn', 'http://cdn';;; | replace: 'http:http://';;;, 'http://';;; | remove: 'https:' %}
             {% if forloop.index == 2 or forloop.index == 3 or forloop.index == 4 %}
        <div class="about-the-brand-image" id="{{ i }}">
          <img src="{{src}}" alt="{{alt}}"/>
          <h2 class="about-the-brand-circular-image-text">{{ alt }}</h2>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>

      <div class="about-the-brand-circular-images second-row">
        {% if page.content contains "<img" %}
             {% assign content-src = (page.content contains "<img") | split: 'src="' %}
             {% assign content-alt = (page.content contains "<alt") | split: 'alt="' %}
             {% assign content-img-size = content-src.size | minus:1 %}
             {% for i in (1..content-img-size) %}
             {% assign src = content-src[i] | split: '"' | first | replace: '//cdn', 'http://cdn';;; | replace: 'http:http://';;;, 'http://';;; | remove: 'https:' %}
             {% assign alt = content-alt[i] | split: '"' | first | replace: '//cdn', 'http://cdn';;; | replace: 'http:http://';;;, 'http://';;; | remove: 'https:' %}
             {% if forloop.index == 5 or forloop.index == 6 or forloop.index == 7 %}
        <div class="about-the-brand-image" id="{{ i }}">
          <img src="{{src}}" alt="{{alt}}"/>
          <h2 class="about-the-brand-circular-image-text">{{ alt }}</h2>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>

      <div class="about-the-brand-text-block">
        {% assign content-text = page.content | split: 'src="' %}
        {% for content in content-text %}
          {% if content contains "<img" %}
          {% else %}
            <h2 id="text-index-{{forloop.index }}"><{{ content }}</h2>
          {% endif %}
        {% endfor %}

    </div>
    </div>



    {% if settings.display-pages-sidebar %}
    <div class="sidebar rte">
      {% if settings.pages-sidebar-title %}<h2 class="title">{{ settings.pages-sidebar-title }}</h2>{% endif %}
      {% if settings.pages-sidebar-content.size == 0 %}
        {% capture theme_settings_link %}
          <a href="/admin/themes">{{ 'onboarding.theme_settings_link' | t }}</a>
        {% endcapture %}
        {{ 'onboarding.pages_sidebar_text_html' | t: theme_settings_link: theme_settings_link }}
      {% else %}
        {{ settings.pages-sidebar-content }}
      {% endif %}
    </div>
    {% endif %}

  </div>

</main>
